<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

<h1>Admin Dashboard</h1>

<h2>Welcome Administrator</h2>

<hr>

<h3>Employee Management</h3>

<ul>
    <li><a href="/admin/add-employee">Add Employee</a></li>
    <li><a href="/admin/view-employees">View Employees</a></li>
    <li>Edit Employee</li>
    <li>Delete Employee</li>
</ul>

<hr>

<h3>Attendance Management</h3>

<ul>
    <li>View Attendance</li>
    <li>Generate Reports</li>
</ul>
<br><br>

<a href="/admin/logout">
    <button>Logout</button>
</a>
</body>
</html>
